{% extends 'home_base.html' %}{% block corpo %}{% load static %}
<div class="row">
  <div class="col-xl-3 col-md-6">
    <div class="card prod-p-card card-red">
      <div class="card-body">
        <div class="row align-items-center mb-30">
          <div class="col">
            <h6 class="mb-5 text-white">Dissertação e Monografias</h6>
            <h3 class="mb-0 fw-700 text-white">1,783</h3>
          </div>
          <div class="col-auto">
            <i class="fa fa-users text-red f-18"></i>
          </div>
        </div>
        <p class="mb-0 text-white"><span class="label label-danger mr-10">+11%</span></p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card prod-p-card card-blue">
      <div class="card-body">
        <div class="row align-items-center mb-30">
          <div class="col">
            <h6 class="mb-5 text-white">Artigos Ciéntifico</h6>
            <h3 class="mb-0 fw-700 text-white">15,830</h3>
          </div>
          <div class="col-auto">
            <i class="fas fa-database text-blue f-18"></i>
          </div>
        </div>
        <p class="mb-0 text-white"><span class="label label-primary mr-10">+12%</span></p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card prod-p-card card-green">
      <div class="card-body">
        <div class="row align-items-center mb-30">
          <div class="col">
            <h6 class="mb-5 text-white">Teses</h6>
            <h3 class="mb-0 fw-700 text-white">6,780</h3>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign text-green f-18"></i>
          </div>
        </div>
        <p class="mb-0 text-white"><span class="label label-success mr-10">+52%</span></p>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-md-6">
    <div class="card prod-p-card card-yellow">
      <div class="card-body">
        <div class="row align-items-center mb-30">
          <div class="col">
            <h6 class="mb-5 text-white">Arquivos</h6>
            <h3 class="mb-0 fw-700 text-white">6,784</h3>
          </div>
          <div class="col-auto">
            <i class="fas fa-tags text-warning f-18"></i>
          </div>
        </div>
        <p class="mb-0 text-white"><span class="label label-warning mr-10">+52%</span></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card"></div>
  </div>
  <div class="col-md-4">
    <div class="">
      <div class="text-center">
        <div class="profile-pic mt-20">
          <!-- <img src="{% static '/img/user.jpg' %}" width="260" class="rounded-circle" alt="user" />-->
          <h4 class="mt-20 mb-0"></h4>
          <a href="#"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card"></div>
  </div>
</div>

{% endblock %}
