<!--
Author: SOFIL WEB
Author URL: 
-->

 {% extends 'baseApp.html' %}  {% block corpo %} {% load static %}
	<!--//top-header-content-->
	<!--w3l-banner-slider-->
	<section class="w3l-banner-main">

		<!--/banner-content-->
		<div class="bannerhny-content text-center">
			<h3 data-aos="fade-up">REPOSITÓRIO INTEGRADO CIENTÍFICO &
				<br><span>ACADÉMICO DE ANGOLA</span></h3>
			
			<h6 data-aos="fade-up">
				Aproveite o infinito mundo da pesquisa e ajuda académica com mais de 30.000 livros e
                  trabalhos já feitos e <br> divulgados pelas instituições reconhecidas pelo Ministério do Ensino
                 Superior e Tecnologia de Inovação.
			</h6>
			<div class="banner-button" data-aos="fade-down">
				<a href="#" class="btn">PESQUISAR</a>
			</div>
			
		</div>
		<!--//banner-content-->
	</section>
		
	<section class="w3l-content-12-main">
		<!-- /content-6-section -->
		<div class="content-12 text-left py-5">
			<div class="container pt-lg-3">

				<h3 class="hny-title text-center">
					Os nossos Serviços </h3>
				<div class="content-info-tabs mt-4">
					<div class="tab-main mx-auto text-md-center">

						<input id="tab1" type="radio" name="tabs" checked>
						<label for="tab1"><span class="fa fa-book" aria-hidden="true"></span> Tese de Doutoramento</label>

						<input id="tab2" type="radio" name="tabs">
						<label for="tab2"><span class="fa fa-credit-card" aria-hidden="true"></span>
							Dissertação Monografias </label>

						<input id="tab3" type="radio" name="tabs">
						<label for="tab3"><span class="fa fa-search" aria-hidden="true"></span> Artigos Ciéntifico</label>
						<input id="tab4" type="radio" name="tabs">
						<label for="tab4"><span class="fa fa-trophy" aria-hidden="true"></span> Relatórios</label>
						<section id="content1" data-aos="zoom-in">
							<img src="{% static '/asset/images/screen-1.png' %}" class="img-fluid" alt="mobile-image">
						</section>

						<section id="content2" data-aos="zoom-in">
							<img src="{% static '/asset/images/screen-2.png' %}" class="img-fluid" alt="mobile-image">
						</section>

						<section id="content3" data-aos="zoom-in">
							<img src="{% static '/asset/images/5.png' %}" class="img-fluid" alt="mobile-image">
						</section>
						<section id="content4" data-aos="zoom-in">
							<img src="{% static '/asset/images/screen-4.png' %}" class="img-fluid" alt="mobile-image">
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //content-6-section -->
	<section class="w3l-content-6">
		<!-- /content-6-section -->
		<div class="content-6-mian py-5">
			<div class="container py-lg-3">
				<h3 class="hny-title text-center">
					REPOSITÓRIO </h3>
				<div class="content-info-in row mt-lg-5 mt-4">
					<div class="content-gd col-md-5 text-lg-right">
						Ajudamos você a terminar o seu trabalho académico com sucesso.
						Temos para si uma vasta lista de temas de Tese de Doutoramento, Dissertação, Monografias,
						Relatórios.
						</br>
						Contacte-nos já e não perca mais tempo!
							
					</div>
					<div class="content-gd col-md-4" data-aos="zoom-in">
						<img src="{% static '/asset/images/1.png' %}" class="img-fluid" alt="">
					</div>
					

				</div>

			</div>
		</div>
	</section>
	<!-- //content-6-section -->


	<section class="w3l-content-w-photo-6">
		<!-- /content-grids-->
		<div class="content-photo-info py-5">
			<div class="container py-lg-3">
				<h3 class="hny-title text-center">
					<!--Features-->
				</h3>
				<!-- /row-->
				<div class="content-photo-grids row mt-lg-5 mt-4 px-lg-5">
					<div class="photo-6-inf-left col-lg-6 pr-lg-4" data-aos="fade-up">
						<img src="{% static '/asset/images/2.png' %}" class="img-fluid" alt="">
					</div>
					<div class="photo-6-inf-right col-lg-6 text-left pl-lg-5" data-aos="fade-down">

						<h4>Divulgação!
						</h4>
						<p>
							Divulgamos todos os conteúdos com cariz académico, investigativo, 
							científico e outros de forma a contribuir para o desenvolvimento do conhecimento e das instituições parceiros
						</p>
					</div>
				</div>
				<!-- //row-->
				<!-- /row-->
				<div class="content-photo-grids row py-lg-5 py-4 mt-lg-5 mt-4 px-lg-5">

					<div class="photo-6-inf-right col-lg-6 text-left pr-lg-5" data-aos="fade-down">
						<h4>
							Depósito
						</h4>
						<p>
							O serviço de depósito permite aos utilizadores e pesquisadores garantirem a continuidade dos seus 
							trabalhos e serem fontes de pesquisas futuras, quer particulares ou institucionais.
						</p>
					</div>
					<div class="photo-6-inf-left col-lg-6 pr-lg-4" data-aos="fade-up">
						<img src="{% static '/asset/images/3.png' %}" class="img-fluid" alt="">
					</div>
				</div>
				<!-- //row-->

			</div>
		</div>
	</section>
	<!-- /macbook--->
	<section class="w3l-macbook-content-6">
		<div class="macbook-infohny">
			<!-- /macbook-infohny-->
			<div class="container-fuild">
				<div class="row macbook-infohny-inn mx-lg-0">
					<div class="col-lg-6 macbook-left mt-lg-0 mt-5 px-lg-0" data-aos="fade-up">
						<img src="{% static '/asset/images/macbook-1.png' %}" class="img-fluid" alt="">
					</div>
					<div class="col-lg-6 macbook-right my-lg-5 py-lg-5 py-4" data-aos="fade-down">
						<h3 class="hny-title mb-lg-5">
							TEMAS PESQUISADOS.
						</h3>
						<div class="row macbook-right-grids mb-lg-3 mb-3">
							
							<div class="col-md-10 macbook-right-info">
								<h6><a href="#">Direito Constitucional</a></h6>
							</div>

						</div>
						<div class="row macbook-right-grids mb-3 mt-lg-0 mt-3">
							
							<div class="col-md-10 macbook-right-info">
								<h6><a href="#">Autarquias Locais</a></h6>
							</div>

						</div>
						<div class="row macbook-right-grids mb-3 mb-lg-3 mb-3">
							
							<div class="col-md-10 macbook-right-info">
								<h6><a href="#">Administração e Empresas</a></h6>
							</div>
						</div>
						<div class="row macbook-right-grids mb-3 mb-lg-3 mb-3">
							
							<div class="col-md-10 macbook-right-info">
								<h6><a href="#">Segurança de Informação</a></h6>
							</div>
						</div>
						<div class="row macbook-right-grids mb-lg-0 mb-4">
							
							<div class="col-md-10 macbook-right-info">
								<h6><a href="#">Gestão de recursos Humanos</a></h6>
							</div>

						</div>
					</div>

				</div>
			</div>
			<!-- //macbook-infohny-->
		</div>
	</section>
	<!-- //macbook--->
	<section class="w3l-content-5">
		<!-- /content-6-section -->
		<div class="content-5-main">
			<div class="container">
				<div class="content-info-in pt-5">
					<div class="content-gd pt-lg-5">
						<h3 class="hny-title" data-aos="fade-up">
							Os Nossos Parcerios
							 <br>Instituições </h3>
						
						<img src="{% static '/asset/images/macbook-2.png' %}" class="img-fluid" alt="">
					</div>

				</div>

			</div>
		</div>
	</section>
	<!-- //content-6-section -->
	<!--/w3l-download-main-->
	
	<!--//w3l-download-main-->

	{% endblock %}