<!--
@author [sofil web]
@email [7ilip@gmail.com]
@create date 2022-02-14 09:46:11
@modify date 2022-02-14 10:13:58
@desc [description]
-->

<!--//top-header-content-->

{% extends 'baseApp.html' %}{% block corpo %}{% load static %}
    <section class="w3l-inner-page-main">
      <div class="breadcrumb-infhny">
        <div class="container">
          <nav aria-label="breadcrumb">
            <h2 class="hny-title text-center">Serviços</h2>
            
          </nav>
        </div>
      </div>
    </section>
<section class="features-4">
	<div class="features4-block py-5">
		<div class="container py-lg-5">
			<h3 class="hny-title text-center" data-aos="fade-down">Categorias Académicas</h3>
			
			<div class="features4-grids text-left row mt-5">
				<div class="col-lg-4 col-md-6 features4-grid" data-aos="fade-up">
					<div class="features4-grid-inn">
						<span class="fa fa-pencil-square-o icon-fea4" aria-hidden="true"></span>
						<h5><a href="#URL">Ciências Biológicas e Saúde</a></h5>
						<p></p>

					</div>
				</div>
				<div class="col-lg-4 col-md-6 features4-grid" data-aos="fade-up">
						<div class="features4-grid-inn">
							<span class="fa fa-umbrella icon-fea4" aria-hidden="true"></span>
							<h5><a href="#URL">Arquitectura, Construção Civil</a></h5>
							<p></p>
	
						</div>
					</div>
					<div class="col-lg-4 col-md-6 features4-grid third" data-aos="fade-up">
							<div class="features4-grid-inn">
								<span class="fa fa-cogs icon-fea4" aria-hidden="true"></span>
								<h5><a href="#URL">Engenharia e Tecnologia</a></h5>
								<p></p>
		
							</div>
						</div>
						<div class="col-lg-4 col-md-6 features4-grid" data-aos="fade-up">
							<div class="features4-grid-inn">
								<span class="fa fa-spinner icon-fea4" aria-hidden="true"></span>
								<h5><a href="#URL">Matemática, Física, Química</a></h5>
								<p></p>
		
							</div>
						</div>
						<div class="col-lg-4 col-md-6 features4-grid" data-aos="fade-up">
								<div class="features4-grid-inn">
									<span class="fa fa-shield icon-fea4" aria-hidden="true"></span>
									<h5><a href="#URL">Gestão, Administração e Empresas</a></h5>
									<p></p>
			
								</div>
							</div>
							<div class="col-lg-4 col-md-6 features4-grid third" data-aos="fade-up">
									<div class="features4-grid-inn">
										<span class="fa fa-book icon-fea4" aria-hidden="true"></span>
										<h5><a href="#URL">Língua, Comunicação e Cultura</a></h5>
										<p></p>
				
									</div>
								</div>
							</div>
			</div>
		</div>
	</div>
</section>
<!-- features-4 -->
<section class="w3l-services-6-main">
	<div class="services-6 py-5">
		<div class="container py-md-3">
			<div class="row serv_sec_info">
				<div class="col-md-6 banner_bottom_grid help" data-aos="fade-down">
					<img src="{% static '/asset/images/macbook-2.png' %}" alt=" " class="img-fluid">
				</div>
				<div class="col-md-6 banner_bottom_left pl-lg-4" data-aos="fade-up">
					<h4><a class="link-hny" href="#">
							Os melhores artigos e
                            obras científicas do mês!</a></h4>
					<p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla
						viverra pharetra sem, eget
						pulvinar neque pharetra ac.Lorem ipsum dolor sit amet,Ea consequuntur illum facere aperiam sequi optio consectetur.</p>
					<p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra
						pharetra sem, eget
						pulvinar neque pharetra ac.</p>
					<a class="read-more-btn btn mt-3" href="#">Informação</a>

				</div>
			</div>
			
		</div>
	</div>
</section>
 
{% endblock %}
   