 
 {% extends 'base.html' %}{% block corpo %}{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-absolute bg-transparent shadow-none">
    
  </nav>
  <div class="page-header min-vh-75" style="background-image: url('../static/assets/img/bg10.jpg')" loading="lazy">
    <span class="mask bg-gradient-dark opacity-4"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-white text-center">
          <h2 class="text-white">REPOSITÓRIO INTEGRADO CIENTÍFICO & ACADÉMICO DE ANGOLA</h2>
          <p class="lead">Ajudamos você a terminar o seu trabalho académico com sucesso Aproveite o infinito mundo da pesquisa e ajuda académica com mais de 30.000 livros e trabalhos já
                feitos e divulgados pelas instituições..</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body  shadow-blur mx-3 mx-md-4 mt-n6 mb-n3">
    <div class="container">
        <form class="" method="post" action="#">
      <div class="row border-radius-md pb-4 p-3 mx-sm-0 mx-1 position-relative">
      {% csrf_token %} {% autoescape on %}
        <div class="col-lg-3 mt-lg-n2 mt-2">
          <div class="input-group input-group-static mb-4 ">
          <label class="font-weight-bolder"><h5>Titulo</h5> </label>
          <input class="form-control" placeholder="Titulo" type="text" >
        </div>
        </div>
        <div class="col-lg-3 mt-lg-n2 mt-2">
          <label class="ms-0 font-weight-bolder"> <h5>Categoria</h5>  </label>
          <select class="form-control" name="choices-to" id="choices-to">
            <option value="Choice 1" selected="">Saúde</option>
            <option value="Choice 2">Ciência</option>
            <option value="Choice 3">Biologia</option>
            <option value="Choice 4">cultura</option>
          </select>
        </div>
        <div class="col-lg-2 mt-lg-n2 mt-2">
          <label class="ms-0 font-weight-bolder"> <h5>Tipo</h5>  </label>
          <select class="form-control" name="choices-to" id="choices-to">
            <option value="Choice 1" selected="">Monografia</option>
            <option value="Choice 2">Dissertação</option>
            
          </select>
        </div>
        <div class="col-lg-3 mt-lg-n2 mt-2">
          <label>&nbsp;</label>
          <button type="button" class="btn bg-gradient-info w-100 mb-0">Pesquisar</button>
        </div>
        {% endautoescape %}
      </div>
      </form>
    </div>
  </div>

</header>
<div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n0">

<section class="pt-1 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto py-3">
        <div class="row">
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-info"><span id="state1" countTo="20">0</span>+</h1>
              <h5 class="mt-3">Universidades Públicas</h5>
              <p class="text-sm font-weight-normal"></p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-info"> <span id="state2" countTo="15">0</span>+</h1>
              <h5 class="mt-3">Universidades Privadas</h5>
              <p class="text-sm font-weight-normal"> </p>
            </div>
            <hr class="vertical dark">
          </div>
          <div class="col-md-4">
            <div class="p-3 text-center">
              <h1 class="text-gradient text-info" id="state3" countTo="20">0</h1>
              <h5 class="mt-3"> Pessoas Independentes</h5>
              <p class="text-sm font-weight-normal"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="my-5 py-3">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
        <div class="rotating-card-container">
          <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
            <div class="front front-background" style="background-image: url(https://images.unsplash.com/photo-1569683795645-b62e50fbf103?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80); background-size: cover;">
              <div class="card-body py-6 text-center">
                <!--<i class="material-icons text-white text-4xl my-3">touch_app</i>-->
                <h3 class="text-white">REPOSITÓRIO<br />  </h3>
                <p class="text-white opacity-8">
                  mais de 30.000 livros e trabalhos já feitos e divulgados pelas instituições reconhecidas pelo Ministério do Ensino Superior e Tecnologia de Inovação.
                    Temos para si uma vasta lista de temas de Tese de Licenciatura, Doutoramento, Dissertação, Monografias, Relatórios, e outro…
                </p>

                   <p>
                      <a href="#" target="_blank" class="btn btn-white btn-sm ">Regista-se</a>
                   </p>
              </div>
            </div>
            <div class="back back-background" style="background-image: url(https://images.unsplash.com/photo-1498889444388-e67ea62c464b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1365&q=80); background-size: cover;">
              <div class="card-body pt-7 text-center">
                <h3 class="text-white">Divulga</h3>
                <p class="text-white opacity-8">À medida que governos e financiadores de pesquisas veem os benefícios do conteúdo aberto, a criação de recomendações, mandatos e
                      aplicação de mandatos estão vindo em grande escala e rápido</p>
                <a href="#" target="_blank" class="btn btn-white btn-sm w-50 mx-auto mt-3">Regista-se</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 ms-auto">
        <div class="row justify-content-start">
          <div class="col-md-12">
            <div class="info">
              <!--<i class="material-icons text-gradient text-primary text-3xl">content_copy</i>-->
              <h5 class="font-weight-bolder mt-3">Divulgação</h5>
              <p class="pe-5">Divulgamos todos os conteúdos com cariz académico, investigativo, científico e
                outros de forma a contribuir para o desenvolvimento do conhecimento e das instituições
                parceiros 
              </p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="info">
              <h5 class="font-weight-bolder mt-3">Depósito</h5>
            <p class="pe-5">O serviço de depósito permite aos utilizadores e pesquisadores garantirem a
            continuidade dos seus trabalhos e serem fontes de pesquisas futuras, quer particulares ou
            institucionais.
            </p>
            </div>
          </div>
        </div>
       
      </div>

      <div class="col-lg-4 ms-auto">
         <h5 class="font-weight-bolder">TEMAS MAIS PESQUISADOS</h5>
        <div class="row justify-content-start">
          <div class="col-md-12">
            <div class="info">
              <p></p>
            </div>
          </div>
           <div class="col-md-12">
            <div class="info">
               <a href="">
              <h6 class="font-weight-bolder">1-Saúde Infantil</h6>
              <p class=""> </p>
            </a>
            </div>
             <div class="info">
                <a href="">
              <h6 class="font-weight-bolder">2-Direito constitucional</h6>
              <p class=""> </p>
           </a>
            </div>
             <div class="info">
               <a href="">
              <h6 class="font-weight-bolder">3-Autarquias locais</h6>
              <p class=""></p>
            </a>
            </div>
             <div class="info">
               <a href="">
              <h6 class="font-weight-bolder">4-Direito penal</h6>
              <p class=""></p>
            </a>
            </div>
             <div class="info">
               <a href="">
              <h6 class="font-weight-bolder">5-Gestão de recursos Humanos</h6>
              <p class=""></p>
            </a>
            </div>
            <div class="info">
               <a href="">
              <h6 class="font-weight-bolder">6-Administração e empresas</h6>
              <p class=""></p>
            </a>
            </div>
            <div class="info">
               <a href="">
              <h6 class="font-weight-bolder">7-Psicologia do trabalho</h6>
              <p class=""></p>
            </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>



<section class="py-2">
  <div class="container">
    <div class="row">
      <div class="row text-center my-sm-5 mt-5">
        <div class="col-lg-6 mx-auto">
          <!--<span class="badge bg-primary mb-3">Boost creativity</span>-->
          <h3 class="">CATEGORIAS EM DESTAQUE </h3>
          <!--<p class="lead">The easiest way to get started is to use one of our <br /> pre-built example pages. </p>-->
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-2">
    <div class="row">
      <div class="col-md-12">
        <div class="row mt-4">

              
            <div class="col-lg-4 col-md-4 mt-md-0 mt-5 move-on-hover">
              <a href="javascript:;">
                <div class="card card-background card-background-mask-dark">
                  <div class="full-background" style="background-image: url('../static/assets/img/categoria/c22.jpg')"></div>
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white"> Ciências Biológicas e Saúde</h3>
                    <p class="text-white opacity-8"></p>
                    <button type="button" class="btn btn-white btn-sm mt-3">SAIBA MAIS</button>
                  </div>
                </div>
              </a>
            </div>
             
         
             <div class="col-lg-4 col-md-4 mt-md-0 mt-5 move-on-hover">
              <a href="javascript:;">
                <div class="card card-background card-background-mask-dark">
                  <div class="full-background" style="background-image: url('../static/assets/img/categoria/c55.jpg')"></div>
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white"> Arquitectura, Construção Civil</h3>
                    <p class="text-white opacity-8"></p>
                    <button type="button" class="btn btn-white btn-sm mt-3">SAIBA MAIS</button>
                  </div>
                </div>
              </a>
            </div>

             <div class="col-lg-4 col-md-4 mt-md-0 mt-5 move-on-hover">
              <a href="javascript:;">
                <div class="card card-background card-background-mask-dark">
                  <div class="full-background" style="background-image: url('../static/assets/img/categoria/c66.jpg')"></div>
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white"> Engenharia e </br> Tecnologia</h3>
                    <p class="text-white opacity-8"></p>
                    <button type="button" class="btn btn-white btn-sm mt-3">SAIBA MAIS</button>
                  </div>
                </div>
              </a>
            </div>
           
        
             <div class="col-lg-4 col-md-4 mt-md-3 mt-5 move-on-hover">
              <a href="javascript:;">
                <div class="card card-background card-background-mask-dark">
                  <div class="full-background" style="background-image: url('../static/assets/img/categoria/c55.jpg')"></div>
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white"> Matemática, Física, Química</h3>
                    <p class="text-white opacity-8"></p>
                    <button type="button" class="btn btn-white btn-sm mt-3">SAIBA MAIS</button>
                  </div>
                </div>
              </a>
            </div>

            
             
             <div class="col-lg-4 col-md-4 mt-md-3 mt-5 move-on-hover">
              <a href="javascript:;">
                <div class="card card-background card-background-mask-dark">
                  <div class="full-background" style="background-image: url('../static/assets/img/categoria/c11.jpeg')"></div>
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white"> Gestão, Administração e Empresas</h3>
                    <p class="text-white opacity-8"></p>
                    <button type="button" class="btn btn-white btn-sm mt-3">SAIBA MAIS</button>
                  </div>
                </div>
              </a>
            </div>
          
            <div class="col-lg-4 col-md-4 mt-md-3 mt-5 move-on-hover">
              <a href="javascript:;">
                <div class="card card-background card-background-mask-dark">
                  <div class="full-background" style="background-image: url('../static/assets/img/categoria/c88.jpg')"></div>
                  <div class="card-body pt-7 text-center">
                    <h3 class="text-white"> Língua, Comunicação e Cultura</h3>
                    <p class="text-white opacity-8"></p>
                    <button type="button" class="btn btn-white btn-sm mt-3">SAIBA MAIS</button>
                  </div>
                </div>
              </a>
            </div>
          
         
        </div>
      </div>

      <!--
      <div class="col-md-3 mx-auto mt-md-0 mt-5">
        <div class="position-sticky" style="top:280px !important">
          <h4 class="">A sabedoria divina é a arma mais poderosa que transforma as ideia em conhecimento concreto</h4>
          <h6 class="text-secondary font-weight-normal"></h6>
        </div>
      </div>
-->
    </div>
</section>


<!-- -------- START Content Presentation Docs ------- -->
<div class="container mt-sm-5">
  <div class="page-header py-6 py-md-5 my-sm-3 mb-3 border-radius-xl" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/soft-ui-design-system/assets/img/desktop.jpg');" loading="lazy">
    <span class="mask bg-gradient-dark"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 ms-lg-5">
          <h4 class="text-white"></h4>
          <h1 class="text-white">Os melhores artigos e obras ciéntificas do mês !</h1>
          <p class="lead text-white opacity-8">Angola é uma potência adormecida !... </p>
          <a href="#" class="text-white icon-move-right">
            Saiba Mais
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="info-horizontal bg-gradient-primary border-radius-xl d-block d-md-flex p-4">
        <i class="material-icons text-white text-3xl">flag</i>
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5 class="text-white">Getting Started</h5>
          <p class="text-white">Check the possible ways of working with our product and the necessary files for building your own project.</p>
          <a href="https://www.creative-tim.com/learning-lab/bootstrap/overview/material-kit" class="text-white icon-move-right">
            Let's start
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 px-lg-1 mt-lg-0 mt-4">
      <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4 h-100">
        <i class="material-icons text-gradient text-primary text-3xl">precision_manufacturing</i>
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5>Plugins</h5>
          <p>Get inspiration and have an overview about the plugins that we used to create the Material Kit.</p>
          <a href="https://www.creative-tim.com/learning-lab/bootstrap/datepicker/material-kit" class="text-primary icon-move-right">
            Read more
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mt-lg-0 mt-4">
      <div class="info-horizontal bg-gray-100 border-radius-xl d-block d-md-flex p-4">
        <i class="material-icons text-gradient text-primary text-3xl">receipt_long</i>
        <div class="ps-0 ps-md-3 mt-3 mt-md-0">
          <h5>Utility Classes</h5>
          <p>Material Kit is giving you a lot of pre-made elements. For those who want flexibility, we included many utility classes.</p>
          <a href="https://www.creative-tim.com/learning-lab/bootstrap/utilities/material-kit" class="text-primary icon-move-right">
            Read more
            <i class="fas fa-arrow-right text-sm ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<!-- -------- END Content Presentation Docs ------- -->

<!--
<section class="py-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        
        <h2 class="text-gradient text-primary mb-3">Opinões e Sugestão</h2>
        <p class="lead">Seja um membro que ajuda a comunidade ciéntifica angolana a crescer... </p>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-lg-4 col-md-8">
        <div class="card card-plain">
          <div class="card-body">
            <div class="author">
              <div class="name">
                <h6 class="mb-0 font-weight-bolder">Sofia Filipe</h6>
                <div class="stats">
                  <i class="far fa-clock"></i> 1 day ago
                </div>
              </div>
            </div>
            <p class="mt-4">" Tenho feita varias pesquisas, a platforma veio ajudar muito a comunidade académica "</p>
            <div class="rating mt-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-8 ms-md-auto">
        <div class="card bg-gradient-primary">
          <div class="card-body">
            <div class="author align-items-center">
              <div class="name">
                <h6 class="text-white mb-0 font-weight-bolder">João Daniel</h6>
                <div class="stats text-white">
                  <i class="far fa-clock"></i> 1 week ago
                </div>
              </div>
            </div>
            <p class="mt-4 text-white">"Tem tornado o processo da partilha de informação e artigos e documentos em grande escala !!!"</p>
            <div class="rating mt-3">
              <i class="fas fa-star text-white"></i>
              <i class="fas fa-star text-white"></i>
              <i class="fas fa-star text-white"></i>
              <i class="fas fa-star text-white"></i>
              <i class="fas fa-star text-white"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-8">
        <div class="card card-plain">
          <div class="card-body">
            <div class="author">
              <div class="name">
                <h6 class="mb-0 font-weight-bolder">Samuel Kamuli</h6>
                <div class="stats">
                  <i class="far fa-clock"></i> 3 weeks ago
                </div>
              </div>
            </div>
            <p class="mt-4">"Great promponents within instead of starting from scratch. I highly recommend for developers who want to spend more time on the backend!."</p>
            <div class="rating mt-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>

    </div>
    <hr class="horizontal dark my-2">
  
  </div>
</section> -->


<section class="py-sm-7" id="download-soft-ui">
   <div class="text-center">
          <h3 class="mt-5 mb-4">OS NOSSOS PARCEIROS</h3>
   </div>
 <!--<div class="bg-gradient-dark position-relative m-3 border-radius-xl overflow-hidden">
    <img src="{% static '/assets/img/shapes/waves-white.svg' %}" alt="pattern-lines" class="position-absolute start-0 top-md-0 w-100 opacity-2">
    <div class="container py-7 postion-relative z-index-2 position-relative">
      <div class="row">
        <div class="col-md-7 mx-auto text-center">
          <h3 class="text-white mb-0">Preocupado com melhorias?</h3>
          <h3 class="text-white">Este Espaço é reservado para te</h3>
          <p class="text-white mb-5">Os melhores especialistas trabalharão com voce, para ajudar a divulgar as tuas obras.</p>
          <a href="#" class="btn btn-primary btn-lg mb-3 mb-sm-0">Vem Fazer parte</a>
        </div>
      </div>
    </div>
  </div>--> 
  <header>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="page-header min-vh-75" style="background-image: url(&#39;https://images.unsplash.com/photo-1460794418188-1bb7dba2720d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80&#39;);" loading="lazy">
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
             <h2 class="text-white fadeIn2 fadeInBottom">INSTITUIÇÕES</h2>
            <div class="row">
              <div class="col-lg-1 my-auto">
               
              </div>
              <div class="col-lg-10 my-auto">
                <div class="row">
               
             
              <div class="col-3">
                <a href="javascript:;">
                  <img src="{% static '/assets/img/parceiros/estado.jpeg' %}" class="img-fluid " data-bs-toggle="tooltip" data-bs-placement="bottom" title="ANGOLA">
                </a>
              </div>
               <div class="col-2">
              <a href="#" target="_blank">
                <img src="{% static '/assets/img/parceiros/uan.jpg' %}" class="img-fluid" data-bs-toggle="tooltip" data-bs-placement="bottom" title="UAN">
              </a>
                </div>

                 <div class="col-2">
                  <a href="#" target="_blank">
                    <img src="{% static '/assets/img/parceiros/g1.jpeg' %}" class="img-fluid" data-bs-toggle="tooltip" data-bs-placement="bottom" title="UAN">
                  </a>
                </div>
                
                <div class="col-2">
                  <a href="javascript:;">
                    <img src="{% static '/assets/img/parceiros/idp.jpeg' %}" class="img-fluid " data-bs-toggle="tooltip" data-bs-placement="bottom" title="Independente">
                  </a>
                </div>
                <div class="col-2">
                  <a href="javascript:;">
                    <img src="{% static '/assets/img/parceiros/isia.png' %}" class="img-fluid " data-bs-toggle="tooltip" data-bs-placement="bottom" title="ISIA">
                  </a>
                </div>

              </div>
              </div>

            </div>
          </div>
        </div>
        <!--
        <div class="card shadow-lg mt-n5 mx-4 mb-4">
          <div class="card-body">
            <div class="container-fluid px-0">
              <div class="row">
                <div class="col-lg-4 col-sm-6 mb-sm-0 mb-4">
                  <div class="info-horizontal bg-gradient-primary border-radius-xl p-4 d-block d-md-flex ">
                    <i class="material-icons text-3xl text-white">shuffle</i>
                    <div class="description ps-0 ps-md-3">
                      <h5 class="text-white">Netflix&#39;s &#39;Shuffle Play&#39; feature</h5>
                      <p class="text-white pe-0 pe-lg-5">The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                      <a href="javascript:;" class="text-white icon-move-right">
                        More about us
                        <i class="fas fa-arrow-right text-sm ms-1"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 px-lg-1">
                  <div class="info-horizontal border-radius-xl p-4 d-block d-md-flex ">
                    <i class="material-icons text-3xl text-gradient text-primary">redeem</i>
                    <div class="description ps-0 ps-md-3">
                      <h5>Landbot closes $8M Series</h5>
                      <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                      <a href="javascript:;" class="text-primary icon-move-right">
                        More about us
                        <i class="fas fa-arrow-right text-sm ms-1"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mt-lg-0 mt-4">
                  <div class="info-horizontal border-radius-xl p-4 d-block d-md-flex ">
                    <i class="material-icons text-3xl text-gradient text-primary">bookmarks</i>
                    <div class="description ps-0 ps-md-3">
                      <h5>Brave web browser</h5>
                      <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                      <a href="javascript:;" class="text-primary icon-move-right">
                        More about us
                        <i class="fas fa-arrow-right text-sm ms-1"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>-->
      </div>
      <div class="carousel-item">
        <div class="page-header min-vh-75"
          style="background-image: url(&#39;https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80&#39;);" loading="lazy">
          <span class="mask bg-gradient-dark"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 my-auto">
                <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Patrocinador</h4>
                <h1 class="text-white fadeIn2 fadeInBottom">SONAGOL</h1>
                <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Free people make free choices. Free choices mean you get unequal outcomes. You can have freedom, or you can have equal outcomes. You can’t have both.</p>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="card shadow-lg mt-n5 mx-4 mb-4">
          <div class="card-body">
            <div class="container-fluid px-0">
              <div class="row">
                <div class="col-lg-4 col-sm-6 mb-sm-0 mb-4">
                  <div class="info-horizontal border-radius-xl p-4 d-block d-md-flex ">
                    <div class="description ps-0 ps-md-3">
                      <h5>SONAGOL</h5>
                      <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                      <a href="javascript:;" class="text-dark icon-move-right">
                        Saiba Mais
                        <i class="fas fa-arrow-right text-sm ms-1"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-sm-6 px-lg-1">
                  <div class="info-horizontal info-horizontal bg-gradient-info border-radius-xl p-4 d-block d-md-flex ">
                    <div class="description ps-0 ps-md-3">
                      <h5 class="text-white">TAAG</h5>
                      <p class="text-white">Te sea-ice then thaws everycess will continue whatever.</p>
                      <a href="javascript:;" class="text-white icon-move-right">
                        Saiba Mais
                        <i class="fas fa-arrow-right text-sm ms-1"></i>
                      </a>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>-->
      </div>
      
    </div>
    <div class="min-vh-75 position-absolute w-100 top-0">
      <a class="carousel-control-prev ms-n5" href="#carouselExampleControls" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next me-n5" href="#carouselExampleControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>
</header>
 
</section>

<!--
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-12 my-auto">
        <h3 class="text-gradient text-primary mb-0">You liked it and</h3>
        <h3>Want more?</h3>
        <p class="pe-md-5 mb-4">
          Most complex and innovative Design System Made by <a href="#" target="_blank">Creative Tim </a> . Check our latest Premium Bootstrap 5 UI Kit.

          Designed for those who like bold elements and beautiful websites. Made of hundred of elements, designed blocks and fully coded pages, Material Kit is ready to help you create stunning websites and webapps.
        </p>
        <div class="github-buttons">
          <a href="https://www.creative-tim.com/product/material-kit-pro?ref=index-mk2" target="_blank" class="btn bg-gradient-primary mb-5 mb-sm-0">Upgrade to Pro</a>
          <div class="github-button">
            <span></span>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-12 my-auto">
        <a href="https://www.creative-tim.com/product/material-kit-pro?ref=index-mk2">
          <img class="w-100 border-radius-lg shadow-lg" src="https://s3.amazonaws.com/creativetim_bucket/products/46/original/material-kit-pro.jpg?1632843641" alt="Product Image">
        </a>
      </div>
    </div>
  </div>
</section>
-->

<!--
<div class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 ms-auto">
        <h4 class="mb-1">Thank you for your support!</h4>
        <p class="lead mb-0">We deliver the best web products</p>
      </div>
      <div class="col-lg-5 me-lg-auto my-lg-auto text-lg-end mt-5">
        <a href="https://twitter.com/intent/tweet?text=Check%20Material%20UI%20Kit%20made%20by%20%40CreativeTim%20%23webdesign%20%23designsystem%20%23bootstrap5&url=https%3A%2F%2Fwww.creative-tim.com%2Fproduct%2Fmaterial-kit" class="btn btn-twitter mb-0 me-2" target="_blank">
          <i class="fab fa-twitter me-1"></i> Tweet
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.creative-tim.com/product/material-kit" class="btn btn-facebook mb-0 me-2" target="_blank">
          <i class="fab fa-facebook-square me-1"></i> Share
        </a>
        <a href="https://www.pinterest.com/pin/create/button/?url=https://www.creative-tim.com/product/material-kit" class="btn btn-pinterest mb-0 me-2" target="_blank">
          <i class="fab fa-pinterest me-1"></i> Pin it
        </a>
      </div>
    </div>
  </div>
</div>
 -->

</div>
{% endblock %}
