{% extends 'base.html' %}{% block corpo %}{% load static %}
<header>
  <div class="page-header min-height-400" style="background-image: url('../static/assets/img/banners/parceiro.jpg')" loading="lazy">
    <span class="mask bg-gradient-dark opacity-8"></span>
  </div>
</header>
<section class="py-5 bg-gray-100">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mx-auto text-center mb-5">
        <h3>Os Nossos Parceiros</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="mt-md-0 mt-5">
          <div class="card-header mt-n4 mx-3 p-0 bg-transparent position-relative z-index-2">
            <a class="d-block blur-shadow-image">
              <img src="{% static '/assets/img/parceiros/estado.jpeg' %}" alt="img-blur-shadow" class="img-fluid border-radius-lg move-on-hover" />
            </a>
          </div>
          <div class="card-body text-center">
            <h4 class="mb-0"></h4>
            <p></p>
            <div class="row justify-content-center text-center"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="mt-md-0 mt-5">
          <div class="card-header mt-n4 mx-3 p-0 bg-transparent position-relative z-index-2">
            <a class="d-block blur-shadow-image">
              <img src="{% static '/assets/img/parceiros/uan.jpg' %}" alt="img-blur-shadow" class="img-fluid border-radius-lg move-on-hover" />
            </a>
          </div>
          <div class="card-body text-center">
            <h4 class="mb-0"></h4>
            <p></p>
            <div class="row justify-content-center text-center"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="mt-md-0 mt-5">
          <div class="card-header mt-n4 mx-3 p-0 bg-transparent position-relative z-index-2">
            <a class="d-block blur-shadow-image">
              <img src="{% static '/assets/img/parceiros/ca.jpeg' %}" alt="img-blur-shadow" class="img-fluid border-radius-lg move-on-hover" />
            </a>
          </div>
          <div class="card-body text-center">
            <h4 class="mb-0"></h4>
            <p></p>
            <div class="row justify-content-center text-center"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="mt-md-0 mt-5">
          <div class="card-header mt-n4 mx-3 p-0 bg-transparent position-relative z-index-2">
            <a class="d-block blur-shadow-image">
              <img src="{% static '/assets/img/parceiros/g1.jpeg' %}" alt="img-blur-shadow" class="img-fluid border-radius-lg move-on-hover" />
            </a>
          </div>
          <div class="card-body text-center">
            <h4 class="mb-0"></h4>
            <p></p>
            <div class="row justify-content-center text-center"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col">
        <div class="mt-md-0 mt-5">
          <div class="card-header mt-n4 mx-3 p-0 bg-transparent position-relative">
            <a class="d-block blur-shadow-image">
              <img src="{% static '/assets/img/parceiros/p1.jpg' %}" alt="img-blur-shadow" class="img-fluid border-radius-lg move-on-hover" />
            </a>
          </div>
          <div class="card-body text-center">
            <h4 class="mb-0"></h4>
            <p></p>
            <div class="row justify-content-center text-center"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4">
        <div class="mt-md-0 mt-5">
          <div class="card-header mt-n4 mx-3 p-0 bg-transparent position-relative z-index-2">
            <a class="d-block blur-shadow-image">
              <img src="{% static '/assets/img/parceiros/isia.png' %}" alt="img-blur-shadow" class="img-fluid border-radius-lg move-on-hover" />
            </a>
          </div>
          <div class="card-body text-center">
            <h4 class="mb-0"></h4>
            <p></p>
            <div class="row justify-content-center text-center"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="text-gradient text-warning"></h6>
        <h2>Patrocinador</h2>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-3 col-6 mb-lg-0 mb-4">
        <div class="card shadow-lg">
          <div class="card-header mt-n4 mx-3 p-0 bg-transparent position-relative z-index-2">
            <a class="d-block blur-shadow-image">
              <img src="{% static '/assets/img/parceiros/marinha.jpg' %}" alt="img-blur-shadow" class="img-fluid border-radius-lg move-on-hover" />
            </a>
          </div>
          <div class="card-body text-center bg-white border-radius-lg p-3 pt-0">
            <h5 class="mt-3 mb-1 d-md-block d-none">Academia Naval</h5>
            <p class="mb-1 d-md-none d-block text-sm font-weight-bold text-darker">Academia Naval</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-lg-6">
        <h2>Faça parte.</h2>
        <p>Torna-se um parceiro ou patrocinador do maior repositório...</p>
      </div>
      <div class="col-lg-6 text-end d-flex flex-column justify-content-center">
        <button type="button" class="btn bg-gradient-warning mb-0 ms-lg-auto me-lg-0 me-auto mt-lg-0 mt-2">Join Team</button>
      </div>
    </div>
  </div>
</section>
{% endblock %}
