{% extends 'base.html' %}{% block corpo %}{% load static %}
<header>
  <div class="page-header min-height-400" style="background-image: url('static/assets/img/banners/b1.jpg')" loading="lazy">
    <span class="mask bg-gradient-dark opacity-8"></span>
  </div>
</header>

<section class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <h2 class="text-gradient text-primary mb-3">12,679+ de pesquisa</h2>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-10 col-md-8">
        <div class="card card-plain">
          <div class="card-body">
            <div class="author">
              <div class="name">
                <h6 class="mb-0 font-weight-bolder"><a href=""> Samuel Kamuli, </a></h6>
                <div class="stats"><i class="far fa-clock"></i> 1 day ago</div>
              </div>
            </div>
            <p class="mt-4">"This is an excellent product, the documentation is excellent and helped me get things done more efficiently."</p>
            <a href="#" class="text-primary icon-move-right">
              Read more
              <i class="fas fa-arrow-right text-sm ms-1"></i>
            </a>
            <div class="rating mt-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-10 col-md-8">
        <div class="card card-plain">
          <div class="card-body">
            <div class="author">
              <div class="name">
                <h6 class="mb-0 font-weight-bolder"><a href=""> Samuel Kamuli, </a></h6>
                <div class="stats"><i class="far fa-clock"></i> 3 weeks ago</div>
              </div>
            </div>
            <p class="mt-2">
              "Great product. Helped me cut the time to set up a site. I used the components within instead of starting from scratch. I highly recommend for developers who want to
              spend more time on the backend!."
            </p>
            <div class="rating mt-3">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="horizontal dark my-5" />
  </div>
</section>

{% endblock %}
