<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="repositorio científico angolano" />
    <meta name="keywords" content="angola, educação, obras, repositório, cientifico" />
    <meta name="author" content="gunza ismael" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static '/assets/img/apple-icon.png' %}" />
    <link rel="icon" type="image/png" href="{% static '/assets/img/favicon.png' %}" />
    <title>REPOSITÓRIO ACADÉMICO CIÉNTÍFICO ANGOLANO</title>

    <link href="{% static '/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="{% static '/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
    <script src="{% static '/assets/js/42d5adcbca.js' %}" crossorigin="anonymous"></script>

    <link id="pagestyle" href="{% static '/assets/css/material-kit.css' %}" rel="stylesheet" />
  </head>
  <body class="index-page bg-gray-200">
    <!-- Navbar -->
    <div class="container position-sticky z-index-sticky top-0">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-lg blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
            <div class="container-fluid px-0">
              <a class="navbar-brand font-weight-bolder ms-sm-3" href="#" rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                <h4>BANTUS</h4>
              </a>
              <button
                class="navbar-toggler shadow-none ms-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navigation"
                aria-controls="navigation"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon mt-2">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </span>
              </button>
              <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0 w-100" id="navigation">
                <ul class="navbar-nav navbar-nav-hover ms-auto">
                  <li class="nav-item dropdown dropdown-hover mx-2">
                    <a href="{% url 'pagina:index' %}" class="nav-link ps-2 d-flex cursor-pointer align-items-center"> Home </a>
                  </li>

                  <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuBlocks" data-bs-toggle="dropdown" aria-expanded="false">
                      Serviços
                      <img src="{% static '/assets/img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-auto ms-md-2" />
                    </a>
                    <ul
                      class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive p-3 border-radius-lg mt-0 mt-lg-3"
                      aria-labelledby="dropdownMenuBlocks"
                    >
                      <div class="d-none d-lg-block">
                        <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                          <a class="dropdown-item py-2 ps-3 border-radius-md" href="#">
                            <div class="w-100 d-flex align-items-center justify-content-between">
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Tese de Doutoramento</h6>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                          <a class="dropdown-item py-2 ps-3 border-radius-md" href="#">
                            <div class="w-100 d-flex align-items-center justify-content-between">
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Dissertação Monografias</h6>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                          <a class="dropdown-item py-2 ps-3 border-radius-md" href="#">
                            <div class="w-100 d-flex align-items-center justify-content-between">
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Artigos Ciéntifico</h6>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                          <a class="dropdown-item py-2 ps-3 border-radius-md" href="#">
                            <div class="w-100 d-flex align-items-center justify-content-between">
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Relatórios</h6>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                          <a class="dropdown-item py-2 ps-3 border-radius-md" href="#">
                            <div class="w-100 d-flex align-items-center justify-content-between">
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Pesquisas</h6>
                            </div>
                          </a>
                        </li>
                      </div>
                    </ul>
                  </li>

                  <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false">
                      Parcerias

                      <img src="{% static '/assets/img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-auto ms-md-2" />
                    </a>
                    <ul
                      class="dropdown-menu dropdown-menu-end dropdown-menu-animation dropdown-md dropdown-md-responsive mt-0 mt-lg-3 p-3 border-radius-lg"
                      aria-labelledby="dropdownMenuDocs"
                    >
                      <div class="d-none d-lg-block">
                        <ul class="list-group">
                          <li class="nav-item list-group-item border-0 p-0">
                            <a class="dropdown-item py-2 ps-3 border-radius-md" href="#">
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Instituições Estatais</h6>
                            </a>
                          </li>
                          <li class="nav-item list-group-item border-0 p-0">
                            <a class="dropdown-item py-2 ps-3 border-radius-md" href="#">
                              <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Instituições privadas</h6>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </ul>
                  </li>

                  <li class="nav-item dropdown dropdown-hover mx-2">
                    <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuDocs" data-bs-toggle="dropdown" aria-expanded="false"> Sobre nós </a>
                  </li>
                  <li class="nav-item ms-lg-auto">
                    <a class="nav-link nav-link-icon me-2" href="{% url 'pagina:registar-se'%}">
                      <i class="fa fa-user me-1"></i>
                      <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Star us on Github">Regista-se</p>
                    </a>
                  </li>
                  <li class="nav-item my-auto ms-3 ms-lg-0">
                    <a href="#" class="btn btn-sm bg-gradient-dark mb-0 me-1 mt-2 mt-md-0">Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>
      </div>
    </div>

    <!-- include-->
    {% block corpo %} {% endblock %}

    <footer class="footer pt-4 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-md-3 mb-4 ms-auto">
            <div>
              <a href="#">
                <img src="{% static '/assets/img/logo-ct-dark.png' %}" class="mb-3 footer-logo" alt="main_logo" />
              </a>
              <h6 class="font-weight-bolder mb-4">BANTUS</h6>
            </div>
            <div>
              <ul class="d-flex flex-row ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link pe-1" href="#" target="_blank">
                    <i class="fab fa-facebook text-lg opacity-8"></i>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link pe-1" href="#" target="_blank">
                    <i class="fab fa-twitter text-lg opacity-8"></i>
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link pe-1" href="#" target="_blank">
                    <i class="fab fa-github text-lg opacity-8"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-2 col-sm-6 col-6 mb-4">
            <div>
              <h6 class="text-sm"></h6>
              <ul class="flex-column ms-n3 nav">
                <li class="nav-item">
                  <a class="nav-link" href="#" target="_blank"> Serviços </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#" target="_blank"> Nossos projetos </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#" target="_blank"> Catalogo de universidade </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-2 col-sm-6 col-6 mb-4">
            <!--
        <div>
          <h6 class="text-sm">Resources</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="https://iradesign.io/" target="_blank">
                Illustrations
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/bits" target="_blank">
                Bits & Snippets
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/affiliates/new" target="_blank">
                Affiliate Program
              </a>
            </li>
          </ul>
        </div>
        -->
          </div>

          <div class="col-md-2 col-sm-6 col-6 mb-4">
            <!--
        <div>
          <h6 class="text-sm">Help & Support</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/contact-us" target="_blank">
                Contact Us
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/knowledge-center" target="_blank">
                Knowledge Center
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://services.creative-tim.com/?ref=ct-mk2-footer" target="_blank">
                Custom Development
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/sponsorships" target="_blank">
                Sponsorships
              </a>
            </li>

          </ul>
        </div>
           -->
          </div>

          <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
            <!--
        <div>
          <h6 class="text-sm">Legal</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/knowledge-center/terms-of-service" target="_blank">
                Terms & Conditions
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/knowledge-center/privacy-policy" target="_blank">
                Privacy Policy
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="https://www.creative-tim.com/license" target="_blank">
                Licenses (EULA)
              </a>
            </li>
          </ul>
        </div>
        -->
          </div>

          <div class="col-12">
            <div class="text-center">
              <p class="text-dark my-4 text-sm font-weight-normal">
                Repositório Académico Ciéntifico Angolano. Copyright ©
                <script>
                  document.write(new Date().getFullYear());
                </script>
                <a href="#" target="_blank">Creative SOFIL WEB</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--   Core JS Files   -->
    <script src="{% static '/assets/js/core/popper.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/assets/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
    <script src="{% static '/assets/js/plugins/perfect-scrollbar.min.js' %}"></script>

    <script src="{% static '/assets/js/plugins/countup.min.js' %}"></script>
    <script src="{% static '/assets/js/plugins/choices.min.js' %}"></script>

    <script src="{% static '/assets/js/plugins/prism.min.js' %}"></script>
    <script src="{% static '/assets/js/plugins/highlight.min.js' %}"></script>

    <!--  Plugin for Parallax, full documentation here: https://github.com/dixonandmoe/rellax -->
    <script src="{% static '/assets/js/plugins/rellax.min.js' %}"></script>
    <script src="{% static '/assets/js/plugins/tilt.min.js' %}"></script>
    <script src="{% static '/assets/js/plugins/choices.min.js' %}"></script>

    <!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
    <script src="{% static '/assets/js/plugins/parallax.min.js' %}"></script>

    <!-- Control Center for Material UI Kit: parallax effects, scripts for the example pages etc -->
    <!--  Google Maps Plugin    -->

    <script src="{% static '/assets/js/material-kit.min.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
      if (document.getElementById("state1")) {
        const countUp = new CountUp("state1", document.getElementById("state1").getAttribute("countTo"));
        if (!countUp.error) {
          countUp.start();
        } else {
          console.error(countUp.error);
        }
      }
      if (document.getElementById("state2")) {
        const countUp1 = new CountUp("state2", document.getElementById("state2").getAttribute("countTo"));
        if (!countUp1.error) {
          countUp1.start();
        } else {
          console.error(countUp1.error);
        }
      }
      if (document.getElementById("state3")) {
        const countUp2 = new CountUp("state3", document.getElementById("state3").getAttribute("countTo"));
        if (!countUp2.error) {
          countUp2.start();
        } else {
          console.error(countUp2.error);
        }
      }
    </script>
  </body>
</html>
